---
import BaseLayout from './BaseLayout.astro';
import PageHero from '../components/PageHero.astro';
import PersonSchema from '../components/schemas/PersonSchema.astro';
import WebsiteSchema from '../components/schemas/WebsiteSchema.astro';

interface Props {
  title: string;
  description: string;
  image?: string;
  keywords?: string;
  showHero?: boolean;
  showImage?: boolean;
}

const { 
  title, 
  description, 
  image = `https://res.cloudinary.com/kgarbaya/image/upload/co_rgb:0891B2,l_text:Quicksand_55_bold:${encodeURIComponent(description)},g_north_west,x_436,y_200,w_670,c_fit/v1727002971/og-image.png`,
  keywords = 'khaled garbaya, web development, software engineering, leadership',
  showHero = true,
  showImage = false,
} = Astro.props;
---

<BaseLayout
  title={title}
  description={description}
  image={image}
  keywords={keywords}
>
  <PersonSchema slot="head" />
  <WebsiteSchema slot="head" />
  
  <!-- START: Page -->
  <!-- CONTENT_TYPE: Page -->
  <!-- AUTHOR: Khaled Garbaya -->
  <div class="w-full pt-24 sm:pt-32">
    {showHero && (
      <header class="flex flex-col-reverse items-start gap-10 md:flex-row md:items-center">
        <div class="flex-auto">
          <PageHero
            title={title.replace('Khaled Garbaya - ', '')}
            description={description}
          />
        </div>
        {showImage && (
          <img
            src="/Khaled_Garbaya_Colour.jpg"
            alt="Khaled Garbaya - Engineering Leader, Developer and Educator"
            width="400"
            height="400"
            loading="lazy"
            class="aspect-square object-cover rounded-2xl shadow-lg -rotate-3 px-6 sm:px-0 md:mr-10"
            itemprop="image"
          />
        )}
      </header>
    )}
    <main class="mt-20 px-6 sm:px-10">
      <div class="mx-auto max-w-7xl">
        <article class="prose dark:prose-invert prose-lg">
          <slot />
        </article>
      </div>
    </main>
  </div>
  <!-- END: Page -->
</BaseLayout>
